@font-face {
    font-family: 'Schaefferregular';
    src: url(Schaeffer.ttf);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}

::-webkit-scrollbar-thumb {
  background: #605a5a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #939090;
}

body, .other-selector { 
    font-family: 'Lato', sans-serif; 
    background-color: rgb(0, 0, 0);
}

html, body {
    height: 100vh;
    margin: 0;
}

.index-body {
    background-image: url(Doria_0156.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-body {
    background-image: url(Doria_0159_t.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.project-body {
    background-image: url(Doria_0149.jpg);
    background-repeat: no-repeat;
    background-size: 1300px 3500px; 
}

.contact-body {
    background-image: url(Doria_0157_t.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    color: rgb(255, 255, 255);
}

.page-container {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    min-height: 50px;
    flex: 1;
}

footer {
    margin: auto;
    margin-bottom: 1.5rem;
    height: 3vh;
    color: rgb(225, 224, 224);
}

.logo-img {
    width: 35px;
    height: 40px;
    margin-top: 8px;
}

.navigation {
    position: relative;
    height: 10vh;
    background: rgb(0, 0, 0);
}

.nav-container {
    @media only screen and (min-width: 992px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav-title {
    padding-left: 5%;
    
    @media only screen and (min-width: 576px) {
        padding-left: 8%;
    }

    @media only screen and (min-width: 768px) {
        padding-left: 10%;
    }

    @media only screen and (min-width: 992px) {
        padding-bottom: 10px;
        padding-left: 11%;
    }
}

.hamburger {
    cursor: pointer;
    right: 5%;
    top: 45%;
    width: fit-content;
    position: absolute;
    transform: translate(-5%, -50%);

    @media only screen and (min-width: 992px) {
        display: none;
    }
}

.hamburger-line {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    transition: all linear .3s;
    position: relative;
    top: 0;
}

#hamburger-line-1.active {
    transform: rotate(45deg);
    top: 8px;
}

#hamburger-line-2.active {
    transform: rotate(-45deg);
}

#hamburger-line-3.active {
    display: none;
}

.nav-list {
    display: none;
    margin: 0;
    height: 90vh;
    width: 100%;
    position: fixed;
    flex-direction: column;
    background: rgb(55, 53, 53);
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    transition: all 3s ease-out;

    @media only screen and (min-width: 576px) {
        font-size: larger;
    }

    @media only screen and (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        margin: 0;
        flex-direction: row;
        width: 30%;
        height: 10vh;
        background: transparent;
        transition: none;
        position: relative;
    }
}

#nav-links.active {
    display: flex;
    margin-top: 6px;
    transition: all .3s ease-out;
}

.nav-item {
    list-style-type: none;
    font-weight: bold;
    font-size: larger;
    padding-right: 10%;

    @media only screen and (min-width: 576px) {
        font-size: larger;
    }

    @media only screen and (min-width: 768px) {
        font-size: x-large;
    }

    @media only screen and (min-width: 992px) {
        font-size: medium;
        padding-right: 10px;
        margin-left: 9px;
        margin-right: 9px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    @media only screen and (min-width: 1200px) {
        font-size: large;
    }
}

.nav-link:hover {
    color: rgb(200, 5, 5);
    transition: all 0.5s ease-out;
    text-decoration: underline;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navigation {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.index-content {
    padding-top: 5%;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container {
    margin-top: 25px;
}

.information {
    text-align: center;
}

.index-h1 {
    font-weight: 300 bolder;
    font-size: xx-large;
    line-height: 25px;
    margin: 0px;
    margin-top: 17%;
    margin-bottom: 9px;
    color: rgb(255, 255, 255);

    @media only screen and (min-width: 576px) {
        font-size: xx-larger;
        margin-top: 10%;
    }

    @media only screen and (min-width: 768px) {
        font-size: xx-large;
        margin-top: 5%;
    }

    @media only screen and (min-width: 992px) {
        margin-top: 5%;
        line-height: 0px;
    }

    @media only screen and (min-width: 1200px) {
        margin-top: 2%;
        margin-bottom: 0px;
    }
}

.index-h1-title {
    font-family: 'Schaefferregular' !important;
    font-weight: bold;
    font-size: 5rem;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);

    @media only screen and (min-width: 576px) {
        font-size: 6.3rem;
        margin-bottom: 25px;
    }

    @media only screen and (min-width: 768px) {
        font-size: 8rem;
        margin-bottom: 15px;
    }

    @media only screen and (min-width: 992px) {
        font-size: 10rem;
        margin-bottom: 0px;
    }

    @media only screen and (min-width: 1200px) {
        font-size: 13rem;
    }
}

.index-h2 {
    color: rgb(179, 179, 179);
    margin: 0px;
    margin-bottom: 20px;

    @media only screen and (min-width: 576px) {
        margin-bottom: 15px;
    }

    @media only screen and (min-width: 768px) {
        margin-bottom: 10px;
    }

    @media only screen and (min-width: 992px) {
        margin-bottom: 3px;
    }
}

.second-line {
    margin-bottom: 20px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 30px;
    }
}

.index-h2, .second-line {
    font-size: x-larger;

    @media only screen and (min-width: 576px) {
        font-size: X-larger;
    }

    @media only screen and (min-width: 768px) {
        font-size: xx-large;
    }
}

.social-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;

    @media only screen and (min-width: 576px) {
        margin-top: 10px;
    }

    @media only screen and (min-width: 768px) {
        margin-top: 0px;
    }
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-items {
    list-style-type: none;
    padding-right: 10px;
    margin: 10px;
    margin-top: -10px;
    padding-top: -10px;
    justify-content:space-between;
    font-weight: bold;
    font-size: larger;
}

.fa {
    color: rgb(255, 255, 255);
}

.social-fa:hover {
    transform: rotateY(360deg);
    backface-visibility: hidden;
    transition-duration: 1500ms;
    color: rgb(200, 5, 5);
    transition: 0.7s;
}

.container .page {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 90rem;
}

.content {
    padding-top: 3%;
}

.content-header {
    color: rgb(255, 255, 255);
    font-size: xx-large;
    margin-top: 3.2rem;
    margin-bottom: 1.2rem;
}

.article-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;

    @media only screen and (min-width: 576px) {
        padding-left: 8%;
        padding-right: 8%;
    }

    @media only screen and (min-width: 768px) {
        padding-left: 10%;
        padding-right: 10%;
    }

    @media only screen and (min-width: 992px) {
        padding-left: 11%;
    }
}

p {
    font-size: x-large;
    font-weight: 350.5 bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    color: rgb(255, 255, 255);
}

.project-img-container {
    background: black;
}

.project-img {
    max-width: 100%;
    height: auto;
    transition: 0.5s ease;
}

.project-img:hover {
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.div-link {
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: row;

    @media only screen and (min-width: 576px) {
        max-width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    @media only screen and (min-width: 768px) {
        max-width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    @media only screen and (min-width: 992px) {
        max-width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
}

.link-div {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
}

.project-link {
    color: rgb(0, 0, 0);
    margin: 5px;
    font-size: small;
    font-weight: bold;
    padding-top: 5px;

    @media only screen and (min-width: 576px) {
        font-size: medium;
        margin-top: 3px;
    }

    @media only screen and (min-width: 992px) {
        font-size: large;
        margin: 1rem;
        margin-right: 4px;
        margin-top: 2px;
        margin-left: 3px;
        margin-bottom: 5px;
    }

    @media only screen and (min-width: 1200px) {
        margin-top: 4px;
    }
}

.project-icon {
    color: rgb(0, 0, 0);
    margin-right: 10px;
    margin-top: 12px;
    padding-bottom: 10px;
    font-size: 1em !important;

    @media only screen and (min-width: 576px) {
        font-size: 1.3em !important;
        margin-top: 9px;
    }

    @media only screen and (min-width: 992px) {
        font-size: 1.4em !important;
        margin-top: 10.5px;
    }
}

.project-button {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-right: 0px;
    padding-right: 0px;
    border: #868604;
    border-radius: 10px;
}

.project-button:hover {
    background-color:#074b1f;
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #868604;
    transition: 0.7s;
    cursor: pointer;
}

.project-button:hover .project-link{
    color: #d8d8d8;
}

.project-button:hover .project-icon{
    color: #d8d8d8;
}

.project-button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
    transition: 0.7s;
}

.contact-email{
    text-decoration: none;
    color: rgb(211, 205, 205);
    font-weight: bold;
}

.contact-email:hover{
    text-decoration: underline;
}

.invitation {
    font-size: 27px;
    font-weight: 350.5 bold;
    margin-top: 0;
}

.contact-page-item {
    padding-left: 5%;
    padding-right: 5%;

    @media only screen and (min-width: 576px) {
        padding-left: 8%;
        padding-right: 8%;
    }

    @media only screen and (min-width: 768px) {
        padding-left: 10%;
        padding-right: 10%;
    }

    @media only screen and (min-width: 992px) {
        padding-left: 11%;
    }
}

.contact-info {
    font-size: large;
    font-weight: 360 bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    color: rgb(237, 225, 225);
}

.contact-page-h3 {
    font-size: 23px;
    font-weight: 350.5 bold;
    margin-top: 0;
    margin-top: 2%;
}

.google-map-div {
    margin-right: 5%;
    margin-bottom: 5%;
    padding-bottom: 50%;
    position: relative;
    border-style:double;
    border-width: medium;
    border-color: #221c1c;
}

.google-map-div iframe {
    height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
}

.contact-section {
    @media only screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            "a e"
            "b e"
            "c e"
            "d e";
    }
}

.contact-section .item-1 {
    grid-area: a;
}

.contact-section .item-2 {
    grid-area: b;
}

.contact-section .item-3 {
    grid-area: c;
}

.contact-section .item-4 {
    grid-area: d;
}

.contact-section .item-5 {
    grid-area: e;
}

.first-four {

    @media only screen and (min-width: 768px) {
        margin-left: 7%;
        padding-left: 3.2rem;
    }

    @media only screen and (min-width: 992px) {
        margin-left: 9%;
    }

    @media only screen and (min-width: 1200px) {
        margin-left: 11%;
    }
}

.item-5 {
    @media only screen and (min-width: 768px) {
        margin-right: 30px;
        margin-top: 7rem;
        margin-left: -170px;
    }

    @media only screen and (min-width: 992px) {
        margin-left: -200px;
    }

    @media only screen and (min-width: 1200px) {
        margin-left: -250px;
    }
}
